@use '_fonts';
@use '_responsive';


// Variables
$primary-color: #000000;
$secondary-color: #fff;
$text-color: #fff;
$accent-color: #e50914;
$footer-bg: #111111;
$navbar-bg: #000000eb;
$navbar-link-color: #fff;
$font-family-base: Futura PT Light;
$transition-fast: 0.2s;
$hamburger-width: 30px;
$hamburger-height: 3px;
$hamburger-gap: 6px;
$section-padding:120px 0px;

// Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin grid-center {
  display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    @include responsive.media-breakpoint-down(lg) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
    @include responsive.media-breakpoint-down(md) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    grid-column-gap: 65px;
    grid-row-gap: 65px;
    grid-auto-flow: dense;
    justify-content: center;
    align-items: center;
}

a{
  text-decoration: none;
  color: $text-color;
  &:hover,
  &:active,
  &:focus{
    color:unset;
  }
}
button{
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}
@mixin transition($props...) {
  transition: $props;
}

// Base styles
body {
 

  overflow: auto;
  font-family: $font-family-base;
  background: $primary-color;
  color: $text-color;
  margin: 0;
  padding: 0;
}
p{
  line-height: 28px;
  font-size: 1rem;
  @include fonts.font-secondary;
}
nav{
  .nav-item{
    display: flex;
    justify-content: right;
    gap: 1.3rem          ;
    align-items: baseline;
    position: relative;
    &::after{
      transition: all 300ms ease;
      display: flex;
      content: '';
      position: relative;
      top: 0;
      left: 0;
      width: 0px;
      height: 3px;
      background: $secondary-color;
    }
    &:hover,
    &:active,
    &:focus{
     
      &::after{
        transition: all 300ms ease;
        display: flex;
        content: '';
        position: relative;
        top: 0;
        left: 0;
        width: 30px;
        height: 3px;
        background: $secondary-color;
      }
    }
   
  }
  .nav-link{
    position: relative;
    color: $navbar-link-color;
    &:hover,
    &:active,
    &:focus{
     
      color:$secondary-color !important;
    }
  }
 
    .navbar-nav{
        li a { 
        @include fonts.font-navbar;
        }
    } 
   
    background: linear-gradient(to bottom, $navbar-bg, transparent);
    .navbar-toggler{
        
        background-color: transparent;
        border: none;
        width: 60px;
        height: auto;
        cursor: pointer;
        display: flex;
        padding: 0;
        .line {
            fill: none;
            stroke: white;
            stroke-width: 6;
            transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
          }
          .line1 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
          }
          .line2 {
            stroke-dasharray: 60 60;
            stroke-width: 6;
          }
          .line3 {
            stroke-dasharray: 60 207;
            stroke-width: 6;
          }
          &.opened .line1 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
          }
          &.opened .line2 {
            stroke-dasharray: 1 60;
            stroke-dashoffset: -30;
            stroke-width: 6;
          }
          &.opened .line3 {
            stroke-dasharray: 90 207;
            stroke-dashoffset: -134;
            stroke-width: 6;
          }
          
  
      
        border: none !important;
        background: none !important;
    // Active and hover state for navbar toggler: no borders, no background
    &:hover,
    &:active,
    &:focus {
      border: none !important;
      background: none !important;
      box-shadow: none !important;
      outline: none !important;
    }
    }
}
.sectionTitle{
  @include fonts.sectionTitle;
  margin-bottom: 60px;
  width: fit-content;
  text-transform: capitalize;
  &.underline{
    &::after{
      content: '';
    display: block;
    width: 30%;
    height: 2.5px;
    background: $secondary-color;
    margin-top: 10px;
    }
  }
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.heroSection{
//embla carousel 
 /* Custom styles */
 


  &_videoSlide{
    width: 100%;
    cursor: pointer;
    height: 100vh;
    &__playbutton{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
      svg{
        transition: all 0.2s ease-in-out;
      }
      &:hover svg{
        transform: scale(0.9);
      }
      &:active svg{
        transform: rotate(10deg);
      }
    }
    &__overlay{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    iframe{
      width: 100%;
      height: 100%;
    }
  }

}


.featuredSection{
    padding: $section-padding;
    &__masonry{
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
      grid-auto-flow: dense;
      @include responsive.media-breakpoint-down(md) {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      }
      @include responsive.media-breakpoint-down(sm) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      }
    }
    &__project{
      position: relative;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      aspect-ratio: 13/9;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      &:hover &__content{
        opacity: 1;
       
      }
      
      
      &.tall{
        grid-row: span 2;
      }
      &.nowPlaying{
        grid-column: span 2;
        grid-row: span 2;
        aspect-ratio: 16/9;
      }
      &.big{
        grid-column: span 2;
        grid-row: span 2;
      }
      &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        border-radius: 5px;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
      }
      &__content{
        position: absolute;
        opacity: 0;
        background: rgba(0, 0, 0, 0.5);
        top: 0;
        transition: all 0.4s ease-in-out;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $text-color;
        text-align: center;
        padding: 20px;
        p{
          @include fonts.font-featured;
        }
      }
    }
    
} 

.latestNews{
    padding: $section-padding;
    &__container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
        grid-column-gap: 25px;
        grid-row-gap: 25px;
        grid-auto-flow: dense;
        justify-content: center;
        align-items: center;
    }
    &__item{
      &:hover img{
        transform: scale(1.1);
      }
     cursor: pointer;
        display: flex;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: $text-color;
        text-align: center;
        position: relative;
    }
    &__item__image{
     
      overflow: hidden;
        object-fit: cover;
        object-position: center center;
        border-radius: 0px;
        width: 100%;
        height: 100%;
        img{
          transition: all 0.2s ease-in-out;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
    }
    &__item__content{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        flex-direction: column;
        gap: 8px;
        color: $text-color;
        text-align: left;
        margin-top: 15px;
    }
    &__item__content__date{
        font-size: 16px;
        @include fonts.font-secondary;
        font-weight: 500;
        line-height: normal;
        color: $text-color;
    }
    &__item__content__title{
        font-size: 18px;
        line-height: 28px;
        @include fonts.font-secondary;
        font-weight: 400;
        color: $text-color;
    }
}

.getInTouch{
    padding: 250px 0px;
    @include responsive.media-breakpoint-down(md) {
      display: none;
    }
    justify-content: center;
    text-align: center;
    .sectionTitle{
       font-size: 4.2rem;
    }
    p{
      color: $text-color;
      width: 60%;
      opacity: 0.8;
    }
}

.button-contact{
    font-size: 1rem;
    @include fonts.font-secondary;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 1rem 1.8rem;
    color: $secondary-color;
    border: solid 1px $secondary-color;
    @include transition(all 0.2s ease-in-out);
    &:hover,
    &:active,
    &:focus{
        background: rgba(255, 255, 255, 0.123);
        color: $secondary-color;
    }
}



.featuredMain{
  &::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
  }
  &[type="our-story"]{
    background-image: url('../../media/images/our-story-bg.jpg');
  }
  &[type="our-work"]{
    background-image: url('../../media/images/featured-bg.jpg');
  }
  &[type="news"]{
    background-image: url('../../media/images/news-bg.jpg');
  }
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  &__content{
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .sectionTitle{
    font-size: 5.2rem;
    margin: 0;
    @include fonts.sectionTitle;
    
  }
}

.featuredProjectsAll{
    padding: $section-padding;
    &__container{
        
    }
    &__masonry{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        grid-column-gap: 15px;
        grid-row-gap: 15px;
        grid-auto-flow: dense;
        justify-content: center;
        align-items: center;
    }
    &__project{
        &:nth-child(3n){
          grid-column: 1 / -1; /* span full width */
          aspect-ratio: 16/9;
        }
        &__image{
          width: 100%;
          height: 100%;
          img{
            transition: all 0.4s ease-in-out;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center center;
          }
        }
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 13/9;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &__content{
          
          opacity: 1;
          z-index: 2;
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          color: $secondary-color;
          h3{
            z-index: 3;
            position: relative;
            &::after{
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 0;
              height: 2px;
              background: $secondary-color;
              transition: all 0.4s ease-in-out;
             
            }
          }
          height: 100%;
          transition: all 0.4s ease-in-out;
        }
        &:hover img{
           transform: scale(1.1);
        }
        &:hover &__content{
            opacity: 1;
            
            

            }
            &:hover &__content h3::after{
              width: 100%;
            }
            &::before{
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: rgba(0, 0, 0, 0.5);
            }
           
        }

        
    }



.ourStorySection{
  padding: $section-padding;
  text-align: center;
  &__content{
    
  display: flex;
  justify-content: center;
  align-items: center;
    p{
      font-size: 1.5rem;
      width: 80%;
      line-height: 1.5;
      @include responsive.media-breakpoint-down(lg) {
        width: 100%;
      }
    }
  }

  
}

.ourClientsSection{
  padding: $section-padding;
  text-align: center;
  &__grid{
    @include grid-center;
    &__item{
      width: 100%;
      padding: 10px;
      aspect-ratio: 1/1;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
      }
    }
   
  }
}

.awardSection{
  padding: $section-padding;
  text-align: center;
  &__grid{
    @include grid-center;
    &__item{
      width: 100%;
      padding: 10px;
      aspect-ratio: 1/1;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center center;
      }
    }
   
  }
}














.footer-section{
  ul li{
    list-style: none;
  }
  .social-list{
    margin-top: 2rem;
    ul{
      padding: 0 !important;
      margin: 0 !important;
      display: inline-flex;
      gap: 30px;

    }
  }
  h4{
    font-size: 1.7rem;
  }
  p{
    font-size: 0.8rem;
    opacity: 0.8;
  }
  span{
    font-size: 1rem;
    opacity: 1;
  }
    background: $footer-bg;
    padding: 150px 0px 0px 0px;
    .footer-logo{
        img{
            width: 150px;
        }
        p{
          opacity: 0.8;
          font-size: 0.8rem !important;
          line-height: 20px;
          width: 70%;
        }
    }


    .additional_links{
      ul li{
        list-style: none;
        color: $text-color;
        opacity: 0.8;
        a{
          color: $text-color;
          opacity: 0.8;
          @include transition(all 0.2s ease-in-out);
          &:hover,
          &:active,
          &:focus{  
            opacity: 1;
          }
        }
      }
    }

    .quick-links{
      ul li{
        list-style: none;
        color: $text-color;
        opacity: 0.8;
        a{
          color: $text-color;
          opacity: 0.8;
          @include transition(all 0.2s ease-in-out);
          &:hover,
          &:active,
          &:focus{  
            opacity: 1;
          }
        }
      }
    }
}


