@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Futura PT Book";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Book"), url("../../fonts/futura-pt/FuturaCyrillicBook.woff") format("woff");
}
@font-face {
  font-family: "Futura PT Light";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Light"), url("../../fonts/futura-pt/FuturaCyrillicLight.woff") format("woff");
}
@font-face {
  font-family: "Futura PT Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Medium"), url("../../fonts/futura-pt/FuturaCyrillicMedium.woff") format("woff");
}
@font-face {
  font-family: "Futura PT Demi";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Demi"), url("../../fonts/futura-pt/FuturaCyrillicDemi.woff") format("woff");
}
@font-face {
  font-family: "Futura PT Heavy";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Heavy"), url("../../fonts/futura-pt/FuturaCyrillicHeavy.woff") format("woff");
}
@font-face {
  font-family: "Futura PT Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Bold"), url("../../fonts/futura-pt/FuturaCyrillicBold.woff") format("woff");
}
@font-face {
  font-family: "Futura PT Extra Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Futura PT Extra Bold"), url("../../fonts/futura-pt/FuturaCyrillicExtraBold.woff") format("woff");
}
/**
 * Breakpoint Mixins
 *
 * 1. media-breakpoint-up($name) - applies styles for the given breakpoint and up
 * 2. media-breakpoint-down($name) - applies styles for the given breakpoint and down
 * 3. media-breakpoint-only($name) - applies styles for the given breakpoint only
 * 
 * Example Usage:
 *  @include media-breakpoint-up(md) {
 *     // styles for medium breakpoint and up
 *  }
 *  @include media-breakpoint-down(sm) {
 *     // styles for small breakpoint and down
 *  }
 *  @include media-breakpoint-only(lg) {
 *     // styles for large breakpoint only
 *  }
 * 
 * @param {string} $name - the breakpoint name (xs, sm, md, lg, xl)
 * @param {map} $breakpoints - the breakpoints map (optional)
 */
.hnz-btn {
  transition: all 0.2s ease-in-out;
  padding: 10px 20px;
  width: fit-content;
  border-radius: 5px;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  line-height: normal;
  color: #fff;
  gap: 8px;
  font-size: 1rem;
}
.hnz-btn svg {
  transition: all 0.2s ease-in-out;
}
.hnz-btn:hover, .hnz-btn:active, .hnz-btn:focus {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.hnz-btn:hover svg, .hnz-btn:active svg, .hnz-btn:focus svg {
  transform: scale(120%);
}
.hnz-btn--gototop {
  position: fixed;
  bottom: 2rem;
  opacity: 0;
  border: solid 1px #fff;
  display: none;
  height: 45px;
  width: 45px;
  right: 2rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
  padding: 10px;
}
.hnz-btn--gototop svg {
  height: 20px;
  width: 20px;
}
.hnz-btn--rounded {
  border-radius: 24px;
}
.hnz-btn--no-border {
  font-size: 1.2rem;
  border: none;
  background: none;
  color: #fff;
}
.hnz-btn--no-border:hover, .hnz-btn--no-border:active, .hnz-btn--no-border:focus {
  background-color: transparent;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover, a:active, a:focus {
  color: unset;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

body {
  overflow: auto;
  font-family: Futura PT Light;
  background: #000000;
  color: #fff;
  margin: 0;
  padding: 0;
}

p {
  line-height: 28px;
  font-size: 1rem;
  font-family: "Montserrat", "Arial", sans-serif;
}

nav {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9215686275), transparent);
}
nav .nav-item {
  display: flex;
  justify-content: right;
  gap: 1.3rem;
  align-items: baseline;
  position: relative;
}
nav .nav-item::after {
  transition: all 300ms ease;
  display: flex;
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 0px;
  height: 3px;
  background: #fff;
}
nav .nav-item:hover::after, nav .nav-item:active::after, nav .nav-item:focus::after {
  transition: all 300ms ease;
  display: flex;
  content: "";
  position: relative;
  top: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: #fff;
}
nav .nav-link {
  position: relative;
  color: #fff;
}
nav .nav-link:hover, nav .nav-link:active, nav .nav-link:focus {
  color: #fff !important;
}
nav .navbar-nav li a {
  font-family: "Futura PT Book", "Futura", "Arial", sans-serif;
  font-weight: 500;
  font-size: 30px;
  text-align: right;
  text-transform: uppercase;
}
nav .navbar-toggler {
  background-color: transparent;
  border: none;
  width: 60px;
  height: auto;
  cursor: pointer;
  display: flex;
  padding: 0;
  border: none !important;
  background: none !important;
}
nav .navbar-toggler .line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
nav .navbar-toggler .line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
nav .navbar-toggler .line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
nav .navbar-toggler .line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
nav .navbar-toggler.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
nav .navbar-toggler.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
nav .navbar-toggler.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
nav .navbar-toggler:hover, nav .navbar-toggler:active, nav .navbar-toggler:focus {
  border: none !important;
  background: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.sectionTitle {
  font-family: "Futura PT Book", "Futura", "Arial", sans-serif;
  font-weight: 500;
  font-size: 3.5rem;
  text-transform: uppercase;
  margin-bottom: 60px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
}
.sectionTitle.underline::after {
  content: "";
  display: block;
  width: 30%;
  height: 2.5px;
  background: #fff;
  margin-top: 10px;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.heroSection {
  /* Custom styles */
}
.heroSection_videoSlide {
  width: 100%;
  cursor: pointer;
  height: 100vh;
}
.heroSection_videoSlide__playbutton {
  opacity: 0;
  display: none;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.heroSection_videoSlide__playbutton.paused {
  opacity: 1;
  display: block;
  transition: all 0.2s ease-in-out;
}
.heroSection_videoSlide__playbutton svg {
  transition: all 0.2s ease-in-out;
}
.heroSection_videoSlide__playbutton:hover svg {
  transform: scale(0.9);
}
.heroSection_videoSlide__playbutton:active svg {
  transform: rotate(10deg);
}
.heroSection_videoSlide__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.heroSection_videoSlide__overlay img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.heroSection_videoSlide iframe {
  width: 100%;
  height: 100%;
  pointer-events: none !important;
  cursor: none;
}

.featuredSection {
  padding: 120px 0px;
}
.featuredSection__masonry {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  grid-auto-flow: dense;
}
@media (max-width: 768px) {
  .featuredSection__masonry {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
@media (max-width: 576px) {
  .featuredSection__masonry {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.featuredSection__project {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 13/9;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.featuredSection__project:hover .featuredSection__project__content {
  opacity: 1;
}
.featuredSection__project.tall {
  grid-row: span 2;
}
.featuredSection__project.nowPlaying {
  grid-column: span 2;
  grid-row: span 2;
  aspect-ratio: 16/9;
}
.featuredSection__project.big {
  grid-column: span 2;
  grid-row: span 2;
}
.featuredSection__project__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 5px;
}
.featuredSection__project__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.featuredSection__project__content {
  position: absolute;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  transition: all 0.4s ease-in-out;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  padding: 20px;
}
.featuredSection__project__content p {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: normal;
}

.latestNews {
  padding: 120px 0px;
}
.latestNews__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  grid-auto-flow: dense;
  justify-content: center;
  align-items: center;
}
.latestNews__item {
  cursor: pointer;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  text-align: center;
  position: relative;
}
.latestNews__item:hover img {
  transform: scale(1.1);
}
.latestNews__item__image {
  aspect-ratio: 3/2;
  overflow: hidden;
  object-fit: cover;
  object-position: center center;
  border-radius: 0px;
  width: 100%;
  height: 100%;
}
.latestNews__item__image img {
  transition: all 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.latestNews__item__content {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  color: #fff;
  text-align: left;
  margin-top: 15px;
}
.latestNews__item__content__date {
  font-size: 0.9rem;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  line-height: normal;
  color: #fff;
}
.latestNews__item__content__title {
  font-size: 1.1rem;
  margin: 0;
  line-height: 28px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  color: #fff;
}

.getInTouch {
  padding: 250px 0px;
  justify-content: center;
  text-align: center;
}
@media (max-width: 768px) {
  .getInTouch {
    display: none;
  }
}
.getInTouch .sectionTitle {
  font-size: 4.2rem;
}
.getInTouch p {
  color: #fff;
  width: 60%;
  opacity: 0.8;
}

.button-contact {
  font-size: 1rem;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 1rem 1.8rem;
  color: #fff;
  border: solid 1px #fff;
  transition: all 0.2s ease-in-out;
}
.button-contact:hover, .button-contact:active, .button-contact:focus {
  background: rgba(255, 255, 255, 0.123);
  color: #fff;
}

.featuredMain {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
}
.featuredMain::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.281);
}
.featuredMain[type=our-story] {
  background-image: url("../../media/images/our-story-bg.jpg");
}
.featuredMain[type=our-work] {
  background-image: url("../../media/images/featured-bg.jpg");
}
.featuredMain[type=news] {
  background-image: url("../../media/images/news-bg.jpg");
}
.featuredMain__content {
  text-align: center;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.featuredMain .sectionTitle {
  font-size: 5.2rem;
  margin: 0;
  font-family: "Futura PT Book", "Futura", "Arial", sans-serif;
  font-weight: 500;
  font-size: 3.5rem;
  text-transform: uppercase;
}

.featuredProjectsAll {
  padding: 120px 0px;
}
.featuredProjectsAll__masonry {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-auto-flow: dense;
  justify-content: center;
  align-items: center;
}
.featuredProjectsAll__project {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 13/9;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.featuredProjectsAll__project:nth-child(3n) {
  grid-column: 1/-1; /* span full width */
  aspect-ratio: 16/9;
}
.featuredProjectsAll__project__image {
  width: 100%;
  height: 100%;
}
.featuredProjectsAll__project__image img {
  transition: all 0.4s ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.featuredProjectsAll__project__content {
  opacity: 1;
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  height: 100%;
  transition: all 0.4s ease-in-out;
}
.featuredProjectsAll__project__content h3 {
  z-index: 3;
  position: relative;
}
.featuredProjectsAll__project__content h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: all 0.4s ease-in-out;
}
.featuredProjectsAll__project:hover img {
  transform: scale(1.1);
}
.featuredProjectsAll__project:hover .featuredProjectsAll__project__content {
  opacity: 1;
}
.featuredProjectsAll__project:hover .featuredProjectsAll__project__content h3::after {
  width: 100%;
}
.featuredProjectsAll__project::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.ourStorySection {
  padding: 120px 0px;
  text-align: center;
}
.ourStorySection__content {
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourStorySection__content p {
  font-size: 1.5rem;
  width: 80%;
  line-height: 1.5;
}
@media (max-width: 992px) {
  .ourStorySection__content p {
    width: 100%;
  }
}

.ourClientsSection {
  padding: 120px 0px;
  text-align: center;
}
.ourClientsSection__grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-column-gap: 65px;
  grid-row-gap: 65px;
  grid-auto-flow: dense;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .ourClientsSection__grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (max-width: 768px) {
  .ourClientsSection__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.ourClientsSection__grid__item {
  width: 100%;
  padding: 10px;
  aspect-ratio: 1/1;
  height: 100%;
}
.ourClientsSection__grid__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

.awardSection {
  padding: 120px 0px;
  text-align: center;
}
.awardSection__grid {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-column-gap: 65px;
  grid-row-gap: 65px;
  grid-auto-flow: dense;
  justify-content: center;
  align-items: center;
}
@media (max-width: 992px) {
  .awardSection__grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}
@media (max-width: 768px) {
  .awardSection__grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.awardSection__grid__item {
  width: 100%;
  padding: 10px;
  aspect-ratio: 1/1;
  height: 100%;
}
.awardSection__grid__item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center center;
}

.footer-section {
  background: #111111;
  padding: 150px 0px 0px 0px;
}
.footer-section ul li {
  list-style: none;
}
.footer-section .social-list {
  margin-top: 2rem;
}
.footer-section .social-list ul {
  padding: 0 !important;
  margin: 0 !important;
  display: inline-flex;
  gap: 30px;
}
.footer-section h4 {
  font-size: 1.7rem;
}
.footer-section p {
  font-size: 0.8rem;
  opacity: 0.8;
}
.footer-section span {
  font-size: 1rem;
  opacity: 1;
}
.footer-section .footer-logo img {
  width: 150px;
}
.footer-section .footer-logo p {
  opacity: 0.8;
  font-size: 0.8rem !important;
  line-height: 20px;
  width: 70%;
}
.footer-section .additional_links ul li {
  list-style: none;
  color: #fff;
  opacity: 0.8;
}
.footer-section .additional_links ul li a {
  color: #fff;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
.footer-section .additional_links ul li a:hover, .footer-section .additional_links ul li a:active, .footer-section .additional_links ul li a:focus {
  opacity: 1;
}
.footer-section .quick-links ul li {
  list-style: none;
  color: #fff;
  opacity: 0.8;
}
.footer-section .quick-links ul li a {
  color: #fff;
  opacity: 0.8;
  transition: all 0.2s ease-in-out;
}
.footer-section .quick-links ul li a:hover, .footer-section .quick-links ul li a:active, .footer-section .quick-links ul li a:focus {
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
